.japtem-translate-container {
	height: 100%;

	.translation-texts-container {
		height: 100%;

		textarea {
			background-color: $background-color;
			resize: none;
		}

		.pre-text, .post-text {
			min-height: 20%;
		}

		.current-text, #current-row-translation {
			height: 75px;
		}
	}

	.translation-status {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		height: 35px;
		vertical-align: middle;
		z-index: 999;
		background-color: #eee;
		padding: 3px;
		line-height: 35px;
		font-size: 0.8em;
	}
}