<div class="config-page-container">
	<header>
		<a href="#"><i class="fa fa-times"></i></a>
	</header>

	<ul class="tabs" data-tabl role="tablist">
		<li class="tab-title {{vm.tab === 1 ? 'active' : ''}}" role="presentation"><a ng-click="vm.setTab(1)"><i
				class="fa fa-cog"></i></a></li>
		<li class="tab-title {{vm.tab === 2 ? 'active' : ''}}" role="presentation"><a ng-click="vm.setTab(2)"><i
				class="fa fa-keyboard-o"></i></a></li>
	</ul>
	<div class="tabs-content">
		<section role="tabpanel" ng-show="vm.tab === 1">
			<japtem-config></japtem-config>
		</section>
		<section role="tabpanel" ng-show="vm.tab === 2">
			<japtem-keybind></japtem-keybind>
		</section>
	</div>
</div>