<div class="japtem-config-container">
	<label>
		Language
		<select ng-model="vm.selectedLang" ng-change="vm.update()">
			<option
					ng-repeat="lang in vm.languages"
					value="{{lang.lang}}"
			>
				{{ lang.voiceName }}
			</option>
		</select>
	</label>
	<label>
		TTS Speed ({{ vm.ttsRate }})
		<input type="range" min="0.1" max="2" step="0.1" ng-model="vm.ttsRate" ng-change="vm.update()" />
	</label>
	<label>
		<button ng-click="vm.openProfile()"><i class="fa fa-language"></i></button>
		<span ng-show="vm.profile">{{vm.profile.name}}</span>
	</label>
</div>