<div class="japtem-config-container">
	<label>
		Language
		<select ng-model="vm.selectedLang" ng-change="vm.update()">
			<option
					ng-repeat="lang in vm.languages"
					value="{{lang.lang}}"
			>
				{{ lang.voiceName }}
			</option>
		</select>
	</label>
	<label>
		<input type="range" min="0.1" max="2" step="0.1" ng-model="vm.ttsRate" ng-change="vm.update()"/>
		TTS Speed ({{ vm.ttsRate }})
	</label>
	<label>
		<input type="checkbox" ng-model="vm.skipRaws" ng-change="vm.update()" />
		Skip raws when copying
	</label>
	<label>
		<button ng-click="vm.openProfile()" title="Open Profile"><i class="fa fa-language"></i></button>
		<span ng-show="vm.profile">{{vm.profile.name}}</span>
		<button ng-click="vm.saveProfile()" title="Save Profile"><i class="fa fa-floppy-o"></i></button>
	</label>
	<div class="profile-edit-container" ng-show="vm.profile && vm.profile.translations">
		<ul>
			<li ng-repeat="mapRow in vm.profile.translations track by $index">
				<input class="phrase-map-row-key" ng-value="mapRow.key" readonly />
				<input class="phrase-map-row-value" ng-value="mapRow.value" readonly />
				<a ng-click="vm.removeRow($index)"><i class="fa fa-minus-circle"></i></a>
			</li>
			<li>
				<input class="phrase-map-row-key" ng-model="vm.mapRowAddKey" />
				<input class="phrase-map-row-value" ng-model="vm.mapRowAddValue" />
				<a ng-click="vm.addMapRow()"><i class="fa fa-plus-circle"></i></a>
			</li>
		</ul>
	</div>
</div>